#preloader{
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	background:#FFF;
	height:100%;
	width:100%;
	-webkit-transition:all .5s .5s ease;
	-moz-transition:all .5s .5s ease;
	transition:all .5s .2s ease;
}
.loader{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	width:100px;
	height:100px;
	display:block;
	margin:auto;
	margin-top:-50px;
}
body.loaded #preloader{
	opacity:0;
	visibility:hidden;
}

#particles {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:5;
}